.inputBox {
  display: block;
  width: 97%;
  border: none;
  height: 36px;
  background-color: #e5e4e2;
  border-radius: 4px;
  padding-left: 10px;
}
.selectOption {
  height: 32px;
  width: 97%;
  background-color: white;
  border-radius: 4px;
  padding-left: 3px;
  color: #706a6a;
}

.App {
  justify-content: space-between;
  display: flex;
  background-color: #e5e4e2;
}

/* tab-css */
.tab-content {
  display: flex;
}

.nav-content {
  padding-left: 15px;
  margin-top: 9px;
  font-size: 18px;
}

.nav-extension a:link,
a:visited {
  color: black;
  background-color: white;
  padding: 1px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-request a:link,
a:visited {
  color: black;
  background-color: white;
  padding: 1px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.nav-extension-disabled {
  margin-right: 11px;
  color: black;
  padding: 1px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.nav-request-disabled {
  margin-right: 11px;
  color: black;
  padding: 1px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.role-change {
  width: 127px;
  padding-left: 43px;
}
/*  */

.text-area {
  display: block;
  width: 1660px;
  height: 176px;
}

.form-content {
  padding-top: 10px;
}

.p-tag {
  color: black;
  font-size: 14px;
}

.submit-button {
  background-color: white;
  border: 1px solid;
  border-radius: 13px;
  height: 33px;
}

/* list css */

.pending-request {
  margin-right: 10%;
  background-color: #f8d224;
  width: 76px;
  padding-left: 13px;
  border-radius: 5px;
  height: 23px;
  padding-top: 2px;
}
.approved-request {
  margin-right: 10%;
  background-color: #acd66f;
  width: 76px;
  padding-left: 9px;
  border-radius: 5px;
  height: 23px;
  padding-top: 2px;
}
.denied-request {
  margin-right: 10%;
  background-color: #e63f3f;
  width: 76px;
  padding-left: 15px;
  border-radius: 5px;
  height: 23px;
  padding-top: 2px;
}
.cancelled-request {
  margin-right: 10%;
  background-color: #161414;
  width: 76px;
  padding-left: 8px;
  border-radius: 5px;
  height: 23px;
  padding-top: 2px;
}
ol {
  display: flex;
}

ol li {
  color: #161414;
}
/*  */

/*no of page dropdown*/

.page-count {
  width: 194px;
  margin-top: 25px;
  height: 27px;
}

tr {
  height: 50px;
}

.hr-line {
  margin-bottom: 0px;
}

.student-role {
  background-color: white;
  border: 1px solid;
  border-radius: 13px;
  font-size: 40px;
  color: #161414;
  margin-bottom: 15px;
}

.teacher-role {
  background-color: white;
  border: 1px solid;
  border-radius: 13px;
  font-size: 40px;
  color: #161414;
}

.roles {
  margin-top: 20%;
  background-color: #e5e4e2;
  height: 327px;
  padding-top: 39px;
  border: 1px solid;
}

a:hover {
  text-decoration: none;
}
